@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary: #070606;
}

body{
    font-family: 'Poppins', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    background:var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color:var(--primary);
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.heroine{
    padding: 3rem 0;
}

.heroine .left img{
    width: 400px;
}

.heroine .right{
    color: var(--pure);
}

.heroine .right h6{
    font-size: 4rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.heroine .right h1{
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.heroine .right{
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 485px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 2rem;
}